.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}


.recommended-friends__title{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}


.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}


.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
    font-size: 14px;
}


.open-chat__header span{
    opacity: 0.6;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}


.open-post__title{
    font-weight: 700;
    margin-bottom: 7px;
}


.open-post__hashtags{
    opacity: 0.6;
}

.open-post__members{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}


.open-post__members-count{
    opacity: 0.5;
    font-size: 14px;
}


.open-post__members .divider {      /*코드 상에 또 다른 divider이 있을 수 있기에 class명 지정해서 불러오기 */
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}


.open-post__member-status{
    color: #ee1095;
    font-size: 14px;
    font-weight: 700;
}

.open-post__photo{
    position: relative;       /*open-post__heart-count  가 relative father 를 찾고 있기 때문.*/
}                             /*absolute children 은  relative father 가 꼭 필요!!! */


.open-post__photo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.open-post__heart-count{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;     /*open-post__heart-count  가 relative father 를 찾고 있기 때문.*/
    bottom: 8px;            /*absolute children 은  relative father 가 꼭 필요!!! */
    right: 8px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

.open-post2{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

.open-post2__title{
    font-weight: 700;
    margin-bottom: 7px;
}

.open-post2__hashtags{
    opacity: 0.6;
}


.open-post2__members{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.open-post2__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post2__members-count {
    opacity: 0.5;
    font-size: 14px;
}


.open-post2__members .divider2{
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post2__member-status{
    color: #ee1095;
    font-size: 14px;
    font-weight: 700;
}


.open-post2__photo{
    position: relative;       /*open-post__heart-count  가 relative father 를 찾고 있기 때문.*/
}                             /*absolute children 은  relative father 가 꼭 필요!!! */


.open-post2__photo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.open-post2__heart-count{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;     /*open-post__heart-count  가 relative father 를 찾고 있기 때문.*/
    bottom: 8px;            /*absolute children 은  relative father 가 꼭 필요!!! */
    right: 8px;
    font-size: 12px;
}

.open-post2__heart-count span{
    margin-left: 3px;
}

