.user-component{
    justify-content: space-between;
}

.more-screen .user-component{   /*user-component에 마진을 집어 넣으면 다 적용되니깐, chats, more html에 main-screen more-screen 추가 class 명 작성해서 요것만 적용되게!*/
    margin-bottom: 30px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}


.user-component__avatar{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 20px;
  }

.user-component__avatar--xl{
    width: 70px;
    height: 70px;
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}



.user-component__title{
font-weight: 600;
font-size: 17px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}


.user-component__time {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}


.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.user-component__column i{
    color: #3e3940;
}